## Main .gitignore file. While many are empty, directories are left inplace
## to provide an example of directory structure.

#--------- Project Ignore ---------

projects
# Log files
*.log

# Hydra files
.hydra

# ---------- Misc -----------
# Shell scripts
*.sh

# Mac stuff
**/.DS_Store

# Jupyter Notebook
**.ipynb_checkpoints

# Pytest cache
**.pytest_cache

# Pycache
__pycache__
*.pyc

# VsCode settings file
*.vscode

# IntelliJ stuff
**/.idea